{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_task_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_task_list'|trans }}</h1>
    {% if authors is defined and authors|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label_id'|trans }}</th>
                <th>{{ 'label_author_name'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for author in authors %}
                <tr>
                    <td>{{ author.id }}</td>
                    <td>{{ author.authorName }}</td>

                    <td>
                        <a href="{{ url('author_show', {id: author.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}