{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_author_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_author_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'author.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_author_name'|trans, 'author.authorName') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_books'|trans, 'author.book.bookName') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for author in pagination.items %}
                <tr>
                    <td>{{ author.id }}</td>
                    <td>{{ author.authorName }}</td>
                    <td>
                        {% for books in author.books %}
                        <a href="{{ url('book_show', {'id': books.id}) }}" title="{{ books.bookName }}">
                            {{ books.bookName }}<br>
                        </a>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}
