{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_author_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_author_list'|trans }}</h1>
    {% if author is defined and author|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label_id'|trans }}</th>
                <th>{{ 'label_author_name'|trans }}</th>
                <th>{{ 'label_books'|trans }}</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ author.id }}</td>
                    <td>{{ author.authorName }}</td>
                    <td>
                        {% for books in author.books %}
                        <a href="{{ url('book_show', {'id': books.id}) }}" title="{{ books.bookName }}">
                            {{ books.bookName }}<br>
                        </a>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}
