{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_userData_edit'|trans({'%id%': user.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_userData_edit'|trans({'%id%': user.id|default('')}) }}</h1>
    {{ form_start(form, { method: 'PUT', action: url('userData_edit', {id: userData.id}) }) }}
    {{ form_widget(form) }}
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action_edit'|trans }}" class="btn btn-primary" />
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ url('user_show', {id: app.user.id}) }}" class="btn btn-link">
            {{ 'action_back_to_details'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}