{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_category_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_category_list'|trans }}</h1>
    {% if category is defined and category|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label_id'|trans }}</th>
                <th>{{ 'label_category_name'|trans }}</th>
                <th>{{ 'label_books'|trans }}</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.categoryName }}</td>

                    <td>
                        {% for books in category.books %}
                            <a href="{{ url('book_show', {'id': books.id}) }}" title="{{ books.bookName }}">
                                {{ books.bookName }}<br>
                            </a>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}
