{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_book_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_book_list'|trans }}</h1>
    {% if books is defined and books|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label_id'|trans }}</th>
                <th>{{ 'label_book_name'|trans }}</th>
                <th>{{ 'label_author'|trans }}</th>
                <th>{{ 'label_category'|trans }}</th>
                <th>{{ 'label_more'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.bookName }}</td>
                    <td>
                        <a href="{{ url('author_show', {id: book.author.id}) }}" title="{{ 'author_view'|trans }}">
                            {{ book.author.authorName }}
                        </a>
                    </td>
                    <td>{{ book.category.categoryName }}</td>
                    <td>
                        <a href="{{ url('book_show', {id: book.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}
