{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_book_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_book_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'book.id') }}<i class="fa fa-fw fa-sort"></i></th>
                    <th>{{ knp_pagination_sortable(pagination, 'label_book_name'|trans, 'book.bookName') }}<i class="fa fa-fw fa-sort"></i></th>
                    <th>{{ knp_pagination_sortable(pagination, 'label_author_name'|trans, 'author.authorName') }}<i class="fa fa-fw fa-sort"></i></th>
                    <th>{{ knp_pagination_sortable(pagination, 'label_category_name'|trans, 'category.categoryName')}}<i class="fa fa-fw fa-sort"></i></th>
                    <th>{{ knp_pagination_sortable(pagination, 'label_tag_name'|trans, 'tag.tagName')}}<i class="fa fa-fw fa-sort"></i></th>
                    <th>{{ 'label_more'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for book in pagination.items %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.bookName }}</td>
                    <td>
                        <a href="{{ url('author_show', {id: book.author.id}) }}" title="{{ 'author_view'|trans }}">
                            {{ book.author.authorName }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('book_index', {'filters.category_id' : book.category.id}) }}" title="{{ book.category.categoryName }}">
                            {{ book.category.categoryName }}
                        </a>
                    </td>
                    <td>
                    {% if book.tags is defined and book.tags|length %}
                        {% for tag in book.tags %}
                            <a href="{{ url('book_index', {'filters.tag_id' : tag.id}) }}" title="{{ tag.tagName }}">
                                {{ tag.tagName }}
                            </a>
                        {% endfor %}
                    {% else %}
                      {{ 'brak' }}
                    {% endif %}
                    </td>
                    <td>
                        <a href="{{ url('book_show', {id: book.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}
