{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_book_details'|trans({'%id%': book.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_book_details'|trans({'%id%': book.id|default('')}) }}</h1>
    {% if book is defined and book|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ book.id }}</dd>
            <dt>{{ 'label_book_name'|trans }}</dt>
            <dd>{{ book.bookName }}</dd>
            <dt>{{ 'label_book_desc'|trans }}</dt>
            <dd>{{ book.bookDesc }}</dd>
            <dt>{{ 'label_release_date'|trans }}</dt>
            <dd>{{ book.releaseYear }}</dd>
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>{{  book.category.categoryName }}</dd>
            <dt>{{ 'label_author'|trans }}</dt>
            <dd>{{  book.author.authorName}}</dd>
            <dt>{{ 'label_publisher'|trans }}</dt>
            <dd>{{  book.publisher.publisherName }}</dd>
        </dl>
        <p>
            <a href="{{ url('book_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}