{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_borrowing_list'|trans }}
{% endblock %}

{% block body %}
    {% set unixDate = date("1970-01-01") %}
    <h1>{{ 'title_borrowing_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'borrowing.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_email'|trans, 'user.email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_book_name'|trans, 'book.bookName') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_borrow_date'|trans, 'borrowing.borrowDate') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_return_date'|trans, 'borrowing.returnDate') }}</th>
                <th>{{ 'status'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for borrowing in pagination.items %}
                {% if borrowing.returnDate == unixDate %}
                <tr>
                    <td>{{ borrowing.id }}</td>
                    <td>{{ borrowing.user.email }}</td>
                    <td>{{ borrowing.book.bookName }}</td>
                    {% if borrowing.borrowDate != unixDate %}
                        <td>{{ borrowing.borrowDate|date('Y/m/d') }}</td>
                    {% else %}
                        <td>{{ "" }}</td>
                    {% endif %}
                    {% if borrowing.returnDate != unixDate and borrowing.borrowDate != borrowing.returnDate %}
                        <td>{{ borrowing.returnDate|date('Y/m/d') }}</td>
                    {% else %}
                        <td>{{ "" }}</td>
                    {% endif %}
                    {% if borrowing.borrowDate == unixDate %}
                        <td>
                            <a style="color: forestgreen" href="{{ url('borrow_confirm', {id: borrowing.id}) }}" title="{{ 'confirm'|trans }}">
                                {{ 'confirm'|trans }}
                            </a>
                            <a style="color: red" href="{{ url('borrow_discard', {id: borrowing.id }) }}" title="{{ 'discard'|trans }}">
                                {{ 'discard'|trans }}
                            </a>
                        </td>
                        {% else %}
                            <td style="color: forestgreen">{{ 'aktualnie wypożyczona' }}</td>
                    {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'brak'|trans }}
        </p>
    {% endif %}
{% endblock %}