{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_borrowing_discard'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_borrowing_discard'|trans }}</h1>
    {{ form_start(form, { method: 'DELETE', action: url('borrow_discard', {id: borrowing.id, book: book.id}) }) }}
    {{ form_widget(form) }}
    <p>{{ 'sure_to_discard_book'|trans }} "{{ book.bookName }}" {{ 'byUser'|trans }} {{ borrowing.user.userData.nick }}? </p>
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action_discard'|trans }}" class="btn btn-primary" />
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ url('borrow_all') }}" class="btn btn-link">
            {{ 'action_back_to_list'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}