{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_borrowing_return'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_borrowing_return'|trans }}</h1>
    {{ form_start(form, { method: 'PUT', action: url('borrow_return', {id: borrowing.id}) }) }}
    {{ form_widget(form) }}
    <p>{{ 'sure_to_return_book'|trans }} "{{ book.bookName }}" {{ 'by'|trans }} {{ book.author.authorName }}? </p>
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action_return'|trans }}" class="btn btn-primary" />
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ url('borrow_index') }}" class="btn btn-link">
            {{ 'action_back_to_list'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}