{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_tag_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_tag_list'|trans }}</h1>
    {% if tags is defined and tags|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label_id'|trans }}</th>
                <th>{{ 'label_tag_name'|trans }}</th>

            </tr>
            </thead>
            <tbody>
            {% for tag in tags %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td>{{ tag.tagName }}</td>

                    <td>
                        <a href="{{ url('tag_show', {id: tag.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}

