{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_user_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_user_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'user.id') }}<i class="fa fa-fw fa-sort"></i></th>
                <th>{{ knp_pagination_sortable(pagination, 'label_email'|trans, 'user.email') }}<i class="fa fa-fw fa-sort"></i></th>
                <th>{{ knp_pagination_sortable(pagination, 'label_nick'|trans, 'user.userData.nick') }}<i class="fa fa-fw fa-sort"></i></th>
                <th>{{ 'label_modify'|trans }}</th>
                <th>{{ 'label_change_password'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination.items %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.userData.nick }}</td>
                    <td>
                        <a href="{{ url('userData_edit', {id: user.userData.id}) }}" title="{{ 'action_edit'|trans }}">
                            {{ 'action_edit'|trans }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('pass_edit', {id: user.id}) }}" title="{{ 'password_edit'|trans }}">
                            {{ 'password_edit'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}
