{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_user_details'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_user_details'|trans }}</h1>
    {% if user.userData.nick != 'noname' and user.userData|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ user.id }}</dd>
            <dt>{{ 'label_email'|trans }}</dt>
            <dd>{{ user.email }}</dd>
            <dt>{{ 'label_nick'|trans }}</dt>
            <dd>{{ user.userData.nick }}</dd>
            <dt>{{ 'label_first_name'|trans }}</dt>
            <dd>{{ user.userData.firstName }}</dd>
            <dt>{{ 'label_last_name'|trans }}</dt>
            <dd>{{ user.userData.lastName }}</dd>
        </dl>
        <p>
            <a href="{{ url('userData_edit', {id: user.userData.id} }}" title="{{ 'action_edit'|trans }}">
                {{ 'action_edit'|trans }}
            </a>
        </p>
        <p>
            <a href="{{ url('pass_edit', {id: user.id}) }}" title="{{ 'password_edit'|trans }}">
                {{ 'password_edit'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'We have no informations about you :C' }}
        </p>
        <p>
            <a href="{{ url('userData_edit', {id: user.userData.id}) }}" title="{{ 'action_edit'|trans }}">
                {{ 'action_edit'|trans }}
            </a>
        </p>
        <p>
            <a href="{{ url('pass_edit', {id: user.id}) }}" title="{{ 'password_edit'|trans }}">
                {{ 'password_edit'|trans }}
            </a>
        </p>
    {% endif %}
{% endblock %}

